{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passer{% endblock %}

{% block body %}
    <h1>Réinitialiser le mot de passer</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Créer</button>
    {{ form_end(resetForm) }}
{% endblock %}
