
header{
  background: linear-gradient(90deg, rgb(152, 16, 157) 0%, rgba(27,109,237,1) 50%, rgba(0,212,255,1) 100%);

}

main {
  max-width: 100%;
  margin: auto;
  color:black;
  padding: 20px 5%;
}

h1, h2, h3{
  font-family: 'Tangerine', cursive;
}


p{
  margin: 0px;
}

input,
textarea,
select{
  margin-bottom: 1rem;
  box-sizing: border-box;

}

.table-custom{
  overflow-y: scroll;
  height: 350px;
  width: 100%;
  color: white;
}

main table {
  margin:auto;
}

table td{
  padding-right:20px;
}

.navbar-brand{
  font-family: 'Tangerine', cursive;
  font-size: 3em;
}

.inscription{
  text-align: center;
  width: 50%;
  margin: auto;
}

.btn {
  color:#1b6ded;
  background-color: whitesmoke;
}

.btn:hover{
  color:rgb(0, 23, 141);
  background-color: whitesmoke;
}

.inscription label{
  text-align: left;
  float:left;
  width: 30%;
}

.inscription input {
  width:70%;
}

.inscription select{
  width:50%
}

.infoLog{
  float: right;
  display: block;
  font-weight: bold;
  font-size: large;
}

.display-5-custom{
  margin-top: 50px;
  font-family: 'Tangerine', cursive;
}

.display-custom{
  font-family: 'Tangerine', cursive;
}

.table-custom{
  overflow-y: scroll;
  height: 350px;
  width: 100%;
  color: white;
}

.table-participants{
  float : left;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  width: 25%;
}

.afficherProfil{
  text-align: center;
}

.affichageSortie{
  line-height: 3em;
  text-align: left;
}

#navbarSupportedContent ul li a:hover{
  color:lightgray;
}

#table-buttons{
  text-align: center;
}

#sortie_enregistrerSortie{
  margin-right: 10px;
}

#sortie_publierSortie{
  margin-right: 10px;
}

#btnForm .form-group{
  display: contents;
}

#divBtnForm{
  text-align: center;
}

#td-annulerSortie{
  margin-bottom : 20px;
  text-align: start;
}

#profil{
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hidden-row{
  display: none;
}