body{
  background: rgb(0, 23, 141);
  background: linear-gradient(90deg, rgb(0, 23, 141) 0%, rgba(27,109,237,1) 50%, rgba(0,212,255,1) 100%);
}

main {
  max-width: 100%;
  margin: auto;
  color:whitesmoke;
  padding: 20px 5%;
}

.navbar-brand{
  font-family: 'Tangerine', cursive;
  font-size: 3em;
}

h1, h2, h3{
  font-family: 'Tangerine', cursive;
}

p{
  margin: 0px;
}

input,
textarea,
select{
  margin-bottom: 1rem;
  box-sizing: border-box;

}


.inscription{
  text-align: center;
  width: 50%;
  margin: auto;
}

.btn {
  color:#1b6ded;
  background-color: whitesmoke;
}

.btn:hover{
  color:rgb(0, 23, 141);
  background-color: whitesmoke;
}

#navbarSupportedContent ul li a:hover{
  color:lightgray;
}

.inscription label{
  text-align: left;
  float:left;
  width: 30%;
}

.inscription input {
  width:70%;
}

.inscription select{
  width:50%
}

main table {
  margin:auto;
}

#table-buttons{
  text-align: center;
}

table td{
  padding-right:20px;
}

.infoLog{
  float: right;
  display: block;
  font-weight: bold;
  font-size: large;
}

.display-5-custom{
  margin-top: 50px;
  font-family: 'Tangerine', cursive;
}