{% extends 'base.html.twig' %}

{% block title %}

    {{ parent() }} |
    {% if currentUser %}
        Mon profil
    {% else %}
        profil de {# Créer une variable depuis le contrôleur pour récupérer le pseudo #}
    {% endif %}
{% endblock %}

{% block body %}
    {% if currentUser %}
        <h3>Mon Profil</h3>

    {{ form_start(modificationForm) }}

        {{ form_widget(modificationForm) }}
        <button formnovalidate>Enregistrer</button>

        {{ form_end(modificationForm) }}

    {% else %}
        <h2>Un utilisateur pourra consulter un autre profil ici</h2>
    {% endif %}
{% endblock %}

