{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Mon profil / profil "pseudoUtilisateur"
{% endblock %}

{% block body %}
    <h2>Un utilisateur pourra modifier son profil ici</h2>
    <h2>Ou</h2>
    <h2>Un utilisateur pourra consulter un autre profil ici</h2>
{% endblock %}

